
body{
    margin: 0;
    border: 0;
    overflow: hidden;
}




button {
    padding: 200px;
    top: 25%;
    position: absolute;
    border: none;
    transition: 0.05s;
    background-size: 550px;
    background-repeat: no-repeat;
    background-position: -65px;
    border-radius: 200px;
    background-image: url(Cookie.png);
}


button:active {
    padding: 190px;
}

main {
    display: flex;
    justify-content: space-around;
}

.Coisas{
    display: flex;
}

.abb {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nome{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
}
.nome:hover{

    cursor: pointer;
}

input{
    border: none;font-size: 30px;color: rgb(7, 7, 7);text-align: center;
}

.Mone2y {

    margin-bottom: 50px;
    display: flex;
    font-size: 100px;
}


.Up1:hover {
    transform: rotate(6deg);
    cursor: pointer;
}

.Up1PP {
    position: relative;
    display: flex;
    left: 10px;


}

.Uppcu {
    position: relative;
    display: flex;
    left: 40px;
    color: yellow;
}

.Uppcu3 {
    position: relative;
    display: flex;
    left: 40px;
    color: yellow;
}

.Uppcu2 {
    position: relative;
    display: flex;
    left: 40px;
    color: yellow;
}

.Up1 {
    top: 100px;
    align-items: center;
    color: white;
    display: flex;
    font-size: 20px;
    transition: 1s;
    border: 1px solid black;
    box-shadow: black 3px 2px 8px 0px;
    background-image: url(download.jpg);
    margin-top: 10px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: -58px;
    height: 75px;
    width: 200px;
    border-radius: 20px;
}



.preinix {
    background-image: url(gato-bola-modelo-desenho-removebg-preview.png);
    padding: 100px;
    border-radius: 100px;
    display: none;
    cursor: pointer;
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    justify-content: center;
    position: absolute;
    top: 650px;
}

.rebirth{
    position: absolute;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 160px;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: blue;
    border:  1px solid black ;
}

.DinheiroPre{
    color: rgb(247, 119, 119);
    font-size: 50px;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

